$primary-color: #ffc87a;
$text-color: #1a2b5f;
$text-gray: #c6cad7;
html {
    font-size: 62.5%; // 1 rem = 10px
}
*,
*::before,
*::after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
body {
    font-family: "Poppins", sans-serif;
    color: $text-color;
    line-height: 1.4;
    font-weight: 400;
    padding-bottom: 20rem;
}
a {
    text-decoration: none;
}
@mixin flex($align: flex-start, $justify: flex-start, $wrap: nowrap, $dir: row) {
    display: flex;
    align-items: $align;
    justify-content: $justify;
    flex-wrap: $wrap;
    flex-direction: $dir;
}
@mixin size($width, $height: $width) {
    width: $width;
    height: $height;
}
img {
    display: block;
    max-width: 100%;
}

// 1440px, 1170px
.wrapper {
    max-width: 1440px;
    margin: 0 auto;
}
.container {
    margin: 0 auto;
    max-width: 1210px;
    padding-left: 2rem;
    padding-right: 2rem;
}
.header {
    padding-top: 4rem;
    &__inner {
        @include flex(center, space-between);
    }
    &__menu {
        &-list{
            @include flex(center);
        }   
        &-item {
            margin-left: 5rem;
            &:last-child {
                margin-left: 7rem;
            } //set phần tử cuối của select
        }
        &-link {
            font-size: 1.6rem;
            color: $text-color;
            transition: color 0.25s linear, border 0.25s linear; //tạo độ trễ hover
            &:hover {
                color: $primary-color;
            }
        }
    }
    // &__login {
    //     padding: 1.5rem 2.5rem;
    //     display: inline-block;
    //     border: 1px solid currentColor; // currentcolor tạo viền box cùng màu với color
    //     border-radius: 7rem;
    // }
}
.logo {
    font-size: 2.5rem;
    font-weight: 600;
    color: $text-color;
    text-decoration: none;
    &__text {
        color: $primary-color;
    }
}
.banner {
    padding-top: 15rem;
    max-width: 80rem; // giới hạn chữ trên độ rộng nhất định
    margin: 0 auto;
    text-align: center;
    padding-bottom: 15rem;
    &__heading {
        font-weight: 700;
        font-size: 6rem;
        margin-bottom: 3rem;
    }
    &__desc {
        font-weight: 300;
        font-size: 1.8rem;
        margin-bottom: 4rem;
        opacity: 0.6;
    }
    &__buttons {
        display: flex;
        justify-content: center;
        align-items: stretch; //cao bằng nhau
        .btn {
            margin: 0 1rem;
        }
    }
}
.btn {
    cursor: pointer;
    outline: none;
    font-size: 1.6rem;
    text-align: center;
    color: $text-color;
    padding: 2rem 3rem;
    display: inline-block;
    border: 0 ;
    background-color: transparent;
    &--border {
        border: 1px solid currentColor;
    }
    &--rounded {
        border-radius: 5rem;
    }
    &--primary {
        background-color: $primary-color;
        &.has--shadow {
            box-shadow: 0 2px 46px -4px $primary-color; // chỉnh color shadow
        }
    }
}
.category {
    &__list {
        @include flex(stretch, space-between, wrap );
    }
    &__item {
        width: calc(25% - 22.5px);
        padding: 2.5rem;
        background-color:#ffff;
        border-radius: 2rem;
        @include flex(stretch, flex-start, nowrap, column);
        &:first-child {
            box-shadow:  0 20px 35px -5px rgba(91, 202, 238, 0.25);
        }
        &:nth-child(2) {
            box-shadow:  0 20px 35px -5px rgba(227, 243, 246, 1);
        }
        &:nth-last-child(2) {
            box-shadow:  0 20px 35px -5px rgba(174, 209, 54, 0.25);
        }
        &:last-child {
            box-shadow:  0 20px 35px -5px rgba(197, 232, 237, 1);
        }
    }
    &__image {
        border-radius: inherit; // kế thừa từ lớp cha (item)
        object-fit: cover; //fix hình bị méo
        margin-bottom: 4rem;
        @include size(100%, 23rem);
    }
    &__name,
    &__details {
        white-space: nowrap; // kh cho chữ bị kéo xuống dòng
        overflow: hidden; // ẩn chữ bị kéo dài sang ngan
        text-overflow: ellipsis; // hiện ... nếu chữ bị quá dòng
    }
    &__name {
        font-size: 2.5rem;
        margin-bottom: 2rem;
    }
    &__details {
        font-size: 1.4rem;
        color: $text-gray;
        margin-top: auto;
        i {
            margin-left: 1.5rem;
        }
    }
}
.feature {
    padding-top: 18rem;
    &__item {
        display: flex;
        align-items: center;
    }
    &__image,
    &__info {
        width: 50%;
    }
    &__info {
        padding-left: 10rem;
    }
    &__title {
        font-size: 4rem;
        font-weight: 600;
        margin-bottom: 2.5rem;
    }
    &__desc {
        font-weight: 300;
        font-size: 1.4rem;
        margin-bottom: 4rem;
        line-height: 1.8;
        opacity: 0.8;
    }
    &-intro {
        &__item {
            font-weight: 600;
            margin-bottom: 3rem;
            text-decoration: underline;
            font-size: 1.6rem;
        }
    }
}